body {
    background: #005273;    
    height: 100vh;
}

a:focus, .btn:focus {
	outline: 0;
}

#main {
	padding: 30px;
}

label {
	width: 160px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	box-shadow: 0 0 5px #CCC;
	border-radius: 5px;
	background: #eee;
	margin-right: 5px;
	margin-left: 5px;
	margin-bottom: 15px;
	font-weight: 500;
	display: inline-block;	
}

input[type=checkbox], input[type=radio] {
  display: none;
}

input[type=checkbox] + label:before, input[type=radio] + label:before {
  color: green;
  display: inline-block;
  content: "";
  letter-spacing: 10px;
}

input[type=checkbox] + label:hover, input[type=radio] + label:hover {
	background-color: #c0fbdc;
	cursor: pointer;
}

input[type=checkbox]:checked + label, input[type=radio]:checked + label {
	background-color: #7cfdba;
}

input[type=checkbox]:checked + label:before, input[type=radio]:checked + label:before {
  content: "✔";
  letter-spacing: 5px;
}

#myModal .modal-content {
	box-shadow: none;
	border: none;
}
#myModal .modal-body {
	padding: 0;
}

#filter fieldset {
background: white;
border: 0 none;
border-radius: 3px;
box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
padding: 20px 30px;
box-sizing: border-box;
width: 100%;
/*margin: 0 10%;*/
position: absolute;
text-align: center;
}

#filter fieldset:not(:first-of-type) {
display: none;
}
#filter fieldset .previous {
	/*margin-right: 10px;*/
	position: absolute;
    left: 20px;
    width: auto !important;
    padding: 5px 10px;
    font-size: 10px;
    border-radius: 3px;
    top: 20px;
}
#filter fieldset input[type=button], #filter fieldset input[type=submit] {
	width: 150px;
}

.video_lists {
	margin-top: 100px;
}

#language_filter, #gender_filter, #age_filter {
	margin-bottom: 30px;
}

.video_lists .thumbnail {
	background-color: transparent;
	border: none; 
	padding: 10px;
}
.video_lists .thumbnail a {
	display: block;
	padding: 5px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
}
.video_lists .thumbnail img {
	width: 100%;
}